* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    position: relative;

    header,
    main {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 1024px) {
            padding: 0 1rem;
        }
    }
}

header {
    .header-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;

        h1 {
            margin: 0;
        }

        .actions a:not(:first-child) {
            margin-left: 2rem;
        }
    }
}

main {
    margin-bottom: 4rem;

    #movies-wrapper {
        #movies-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;

            .single-movie {
                img {
                    height: 352.5px;
                    width: 100%;
                    object-fit: cover;

                    &:hover {
                        width: 120%;
                    }
                }

                img,
                h3 {
                    cursor: pointer;
                }
            }
        }

        #pagination {
            text-align: center;
            margin-top: 2rem;

            a:not(:last-child) {
                margin-right: 1.5rem;
            }

            a.active {
                color: white;
                background: #9b4dca;
                padding: .5rem;
            }

            a.disabled {
                opacity: .5;
                cursor: default;
                pointer-events: none;
            }
        }

        @media screen and (max-width: 800px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 580px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 400px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

footer {
    p {
        text-align: center;
    }
}

.user-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(100, 100, 100, .3);
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 500px;
        background: white;
        padding: 2rem;

        .form-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            h4 {
                margin: 0;
            }
        }
    }
}

#favorite-wrapper {
    .single-favorite {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #383d41;
        background-color: #e2e3e5;
        border-color: #d6d8db;
        padding: 2rem;
        margin-bottom: 1rem;
        border-radius: 5px;

        h3 {
            margin: 0;
        }
    }
}

#movie-details-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(100, 100, 100, .3);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#movie-details {
    background: white;
    max-width: 800px;
    padding: 2rem;
    display: flex;
    border-radius: 5px;
    
    img {
        width: 40%;
    }

    & > div {
        width: 60%;
        margin-left: 2rem;
    }
}

.toast {
    padding: .3rem 3rem;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;

    &.toast-error {
        color: #721c24;
        background-color: #f8d7da;
    }

    &.toast-success {
        color: #155724;
        background-color: #d4edda;
    }

    &.toast-info {
        color: #0c5460;
        background-color: #d1ecf1;
    }
}

.d-none {
    display: none!important;
}